<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" data-th-href="@{/home}" tabindex="-1">Főoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-th-href="@{/messages}">Üzenetek<span
                            class="sr-only">(Főoldal)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-th-href="@{/newMessage}">Új üzenet</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link disabled" data-sec-authorize="isAnonymous()" data-th-href="@{/login}" >Bejelentkezés</a>
                    <a class="nav-item disabled" data-sec-authorize="isAuthenticated()" data-th-text="${#authentication.getPrincipal().getUsername()}"></a>
                </li>
                <li class="nav-item" data-sec-authorize="isAuthenticated()">
                    <a class="nav-link active" data-th-href="@{/logout}">Kijelentkezés</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Bejelentkezés:</h1>
    <form method="post" data-th-action="@{/login}">
        <div class="form-group">
            <label for="username">Felhasználónév</label>
<!--            <label class="text-danger" data-th-errors="*{username}" data-th-if="${#fields.hasErrors('username')}" for="userName"></label>-->
            <input type="text" class="form-control" name="username" id="username" placeholder="Ide kerül a felhasználónév!">
        </div>
        <div class="form-group">
            <label for="password">Jelszó</label>
<!--            <label class="text-danger" data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" for="password"></label>-->
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="alert alert-danger" data-th-if="${param.error}">
            Hibás login!
        </div>
        <button type="submit" class="btn btn-primary">Bejelentkezek</button>
    </form>
</div>
<div class="container mt-5">
    <h5>Nincs felhasználói fiókod?</h5>
    <a  data-th-href="@{/register}">Regisztrálok</a>
</div>
</body>
</html>